
body {
  background: gray;
  font-family: 'Asap', sans-serif;
}

hr {
  border: 2px solid purple;
  left: 0;
  position: absolute;
  width: 100px;
}

section {
  margin: 5% 10%;
  width: 80%;
}

div.retrato img {
  height: 300px;
  width: 100%;
}

.retrato {
  display: inline-block;
  height: 300px;
  margin-left: 10%;
  width: 20%;
}

p {
  bottom: 20%;
  color: White;
  text-align: right;
  position: relative;
}
